:root {
  --primary-100: #d4eaf7;
  --primary-200: #b6ccd8;
  --primary-300: #3b3c3d;
  --accent-100: #71c4ef;
  --accent-200: #00668c;
  --text-100: #1d1c1c;
  --text-200: #313d44;
  --bg-100: #fffefb;
  --bg-200: #f5f4f1;
  --bg-300: #cccbc8;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#app {
  text-align: center;
  margin: 0;
  background-color: var(--primary-300);
  color: #1d1c1c;
  padding: 10px;
  width: 300px;
  box-shadow: 6px 18px 8px 3px var(--primary-100);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  justify-content: center;
  border: solid 3px var(--text-100);
}

.pantalla {
  width: 100%;
  margin-bottom: 15px;
}

.pantalla input[type='text'] {
  border: none;
  width: 100%;
  text-align: right;
  background-color: var(--primary-300);
  margin: 0;
  padding: 0;
}

.pantalla input[type='text']:nth-child(1) {
  /* background-color: red; */
  color: #c7dd06e8;
  font-weight: bold;
  font-size: 2em;
}

.pantalla input[type='text']:nth-child(2) {
  /* background-color: red; */
  color: #c7dd06e8;
  font-weight: bold;
  font-size: 2.5em;
}

.buttons_pad {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

button {
  width: 25%;
  height: 60px;
  border: none;
  font-size: 1.3em;
  text-align: center;
}

#zero,
#clear {
  width: 50%;
}

.number {
  background-color: var(--primary-100);
}

.operator {
  background-color: var(--accent-100);
}

.clear {
  background-color: var(--primary-200);
}

button:hover {
  cursor: pointer;
  border: var(--accent-200) 2px solid;
  font-weight: bold;
}
